In [1]:
import pandas as pd

In [2]:
tabela = pd.read_csv('clientes.csv')
print(tabela)

       id_cliente  mes  idade  profissao  salario_anual  num_contas  \
0            3392    1   23.0  cientista       19114.12         3.0
1            3392    2   23.0  cientista       19114.12         3.0
2            3392    3   23.0  cientista       19114.12         3.0
3            3392    4   23.0  cientista       19114.12         3.0
4            3392    5   23.0  cientista       19114.12         3.0
...           ...  ...    ...        ...            ...         ...
99995       37932    4   25.0   mecanico       39628.99         4.0
99996       37932    5   25.0   mecanico       39628.99         4.0
99997       37932    6   25.0   mecanico       39628.99         4.0
99998       37932    7   25.0   mecanico       39628.99         4.0
99999       37932    8   25.0   mecanico       39628.99         4.0

       num_cartoes  juros_emprestimo  num_emprestimos  dias_atraso  ...  \
0              4.0               3.0              4.0          3.0  ...
1              4.0               3.0              4.0          3.0  ...
2              4.0               3.0              4.0          3.0  ...
3              4.0               3.0              4.0          5.0  ...
4              4.0               3.0              4.0          6.0  ...
...            ...               ...              ...          ...  ...
99995          6.0               7.0              2.0         23.0  ...
99996          6.0               7.0              2.0         18.0  ...
99997          6.0               7.0              2.0         27.0  ...
99998          6.0               7.0              2.0         20.0  ...
99999          6.0               7.0              2.0         18.0  ...

       idade_historico_credito  investimento_mensal  \
0                        265.0            21.465380
1                        266.0            21.465380
2                        267.0            21.465380
3                        268.0            21.465380
4                        269.0            21.465380
...                        ...                  ...
99995                    378.0            24.028477
99996                    379.0            24.028477
99997                    380.0            24.028477
99998                    381.0            24.028477
99999                    382.0            24.028477

           comportamento_pagamento  saldo_final_mes  score_credito  \
0      alto_gasto_pagamento_baixos       312.494089           Good
1       baixo_gasto_pagamento_alto       284.629162           Good
2      baixo_gasto_pagamento_medio       331.209863           Good
3      baixo_gasto_pagamento_baixo       223.451310           Good
4       alto_gasto_pagamento_medio       341.489231           Good
...                            ...              ...            ...
99995    alto_gasto_pagamento_alto       479.866228           Poor
99996   alto_gasto_pagamento_medio       496.651610           Poor
99997    alto_gasto_pagamento_alto       516.809083           Poor
99998   baixo_gasto_pagamento_alto       319.164979       Standard
99999   alto_gasto_pagamento_medio       393.673696           Poor

       emprestimo_carro  emprestimo_casa emprestimo_pessoal  \
0                     1                1                  1
1                     1                1                  1
2                     1                1                  1
3                     1                1                  1
4                     1                1                  1
...                 ...              ...                ...
99995                 1                0                  0
99996                 1                0                  0
99997                 1                0                  0
99998                 1                0                  0
99999                 1                0                  0

       emprestimo_credito emprestimo_estudantil
0                       1                     0
1                       1                     0
2                       1                     0
3                       1                     0
4                       1                     0
...                   ...                   ...
99995                   0                     1
99996                   0                     1
99997                   0                     1
99998                   0                     1
99999                   0                     1

[100000 rows x 25 columns]

In [3]:
#Resume as informações da base
tabela.info()

#int = numero inteiro
#float = numero com virgula
#object = texto
#inteligencia artificial aprende apenas com numeros

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

In [4]:
# kaggle site de base de dados
# profissao      
# mix_credito  
# score_credito 

# Tratamento dos dados
tabela['profissao'].value_counts()

profissao
advogado         7096
engenheiro       6864
arquiteto        6824
mecanico         6776
cientista        6744
contador         6744
desenvolvedor    6720
gerente_midia    6720
professor        6672
empresario       6648
medico           6568
jornalista       6536
gerente          6432
musico           6352
escritor         6304
Name: count, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
codificador = LabelEncoder()

In [7]:
tabela['profissao'] = codificador.fit_transform(tabela['profissao'])
tabela['mix_credito'] = codificador.fit_transform(tabela['mix_credito'])
tabela['comportamento_pagamento'] = codificador.fit_transform(tabela['comportamento_pagamento'])

In [8]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int32
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int32
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int32
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int32(3), int64(7), object(1)
memory usage: 17.9+ MB

In [9]:
#Aprendizado de máquina

# y= coluna que quero prever
# x = coluna que são usadas para a previsao

y = tabela['score_credito']
x = tabela.drop(columns=['score_credito', 'id_cliente'])

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
#Por padrao define 70% de treino, 30% de teste
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.3)

In [12]:
#Criar a inteligencia artificial

# Arvore de decisão e KNN

#importa a inteligencia artificial
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#criar a inteligencia artificial
modelo_arvore_decisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

#treinar
modelo_arvore_decisao.fit(x_train,y_train)
modelo_knn.fit(x_train,y_train)

KNeighborsClassifier()

In [13]:
import numpy

In [14]:
#testar os modelos
previsao_arvore = modelo_arvore_decisao.predict(x_test)
previsao_knn = modelo_knn.predict(x_test.to_numpy())

C:\Users\bru_m\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
print(accuracy_score(y_test,previsao_arvore))
print(accuracy_score(y_test,previsao_knn))

0.8247666666666666
0.7366666666666667

In [17]:
#fazer novas previsoes
tabela2 = pd.read_csv('novos_clientes.csv')
tabela2.head()

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,empresario,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,baixo_gasto_pagamento_baixo,312.487689,1,1,0,0,0
1,4,32.0,advogado,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,baixo_gasto_pagamento_medio,300.994163,0,0,0,0,1
2,2,48.0,empresario,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,baixo_gasto_pagamento_alto,345.081577,0,1,0,1,0

In [18]:
tabela2.columns

Index(['mes', 'idade', 'profissao', 'salario_anual', 'num_contas',
       'num_cartoes', 'juros_emprestimo', 'num_emprestimos', 'dias_atraso',
       'num_pagamentos_atrasados', 'num_verificacoes_credito', 'mix_credito',
       'divida_total', 'taxa_uso_credito', 'idade_historico_credito',
       'investimento_mensal', 'comportamento_pagamento', 'saldo_final_mes',
       'emprestimo_carro', 'emprestimo_casa', 'emprestimo_pessoal',
       'emprestimo_credito', 'emprestimo_estudantil'],
      dtype='object')

In [19]:
tabela2['profissao'] = codificador.fit_transform(tabela2['profissao'])
tabela2['mix_credito'] = codificador.fit_transform(tabela2['mix_credito'])
tabela2['comportamento_pagamento'] = codificador.fit_transform(tabela2['comportamento_pagamento'])

In [20]:
print(tabela2)

   mes  idade  profissao  salario_anual  num_contas  num_cartoes  \
0    1   31.0          1      19300.340         6.0          7.0
1    4   32.0          0      12600.445         5.0          5.0
2    2   48.0          1      20787.690         8.0          6.0

   juros_emprestimo  num_emprestimos  dias_atraso  num_pagamentos_atrasados  \
0              17.0              5.0         52.0                      19.0
1              10.0              3.0         25.0                      18.0
2              14.0              7.0         24.0                      14.0

   ...  taxa_uso_credito  idade_historico_credito  investimento_mensal  \
0  ...         29.934186                    218.0             44.50951
1  ...         28.819407                     12.0              0.00000
2  ...         34.235853                    215.0              0.00000

   comportamento_pagamento  saldo_final_mes  emprestimo_carro  \
0                        1       312.487689                 1
1                        2       300.994163                 0
2                        0       345.081577                 0

   emprestimo_casa  emprestimo_pessoal  emprestimo_credito  \
0                1                   0                   0
1                0                   0                   0
2                1                   0                   1

   emprestimo_estudantil
0                      0
1                      1
2                      0

[3 rows x 23 columns]

In [21]:
previsoes = modelo_arvore_decisao.predict(tabela2)
print(previsoes)

['Poor' 'Standard' 'Standard']